<template>
  <div>
    <div class="header">
        <span class="logo">Logo</span>
    </div>
    <div class="content">
      <div class="left">
        <div class="banner">
          <div class="left-left">
            <img :src="require('@/assets/image/avatar.png')" >
          </div>
          <div class="left-right">
            <span>Welcome.<b>Mike</b></span>
            <a href="#"><i class="fa fa-envelope"></i></a>
            <a href="#"><i class="fa fa-user"></i></a>
            <a href="#"><i class="fa fa-cog"></i></a>
          </div>

        </div>
      </div>
      <div class="right">

      </div>
    </div>
  </div>
</template>

<script>
export default {}

</script>

<style lang="scss">
.header{
  width: 100%;
  height: 45px;
  background-color: black;
  position: fixed;
  .logo{
    color: white;
    float: right;
    text-align: center;
    padding-right: 20px;
    padding-top: 5px;
    font:{
      size: 20px;
      font-family: "Arial Narrow";
      weight: 40px;
    }
  }
}
.banner{

}
</style>
